:root {
    --rose: #e11d48;
}

.btn-neon {
    font-family: 'General Sans', system-ui;
    font-weight: 600;
    font-size: 1.2rem;
    padding: .5em .8em;
    border-radius: .25em;
    border: none;
    outline: none;
    color: var(--s1);
    background-color: var(--rose);
    box-shadow: 0px 10px 20px rgba(225, 29, 71, 0.5),
        0px 5px 10px rgba(225, 29, 71, 0.5),
        0 0 100px -10px var(--rose);
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-neon:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 3px 3px rgba(225, 29, 72, 0.5),
        0 3px 3px rgba(225, 29, 72, 0.5),
        0 0 100px -10px var(--rose);
}