:root {
    --s0: #f8fafc;
    --s1: #f1f5f9;
    --s2: #e2e8f0;
    --s3: #cbd5e1;
    --s4: #94a3b8;
    --s5: #64748b;
    --s6: #475569;
    --s7: #334155;
    --s8: #1e293b;
    --s9: #0f172a;
    --s10: hsl(229, 84%, 5%);
    --s11: hsl(229, 84%, 2.5%);
}