/* default dark-mode */
:root {
    --s0: #f8fafc;
    --s1: #f1f5f9;
    --s2: #e2e8f0;
    --s3: #cbd5e1;
    --s4: #94a3b8;
    --s5: #64748b;
    --s6: #475569;
    --s7: #334155;
    --s8: #1e293b;
    --s9: #0f172a;
    --s10: hsl(229, 84%, 5%);
    --s11: hsl(229, 84%, 2.5%);
}

:root {
    --bg-color: var(--s11);
    --text-color: var(--s1);
    --text-color-p: var(--s4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.5s ease;

    display: grid;
    grid-template-rows: 8rem 1fr 4rem;
    /* place-content: center; */
}

header,
footer {
    text-align: center;
    /* border: 1px solid lime; */
    place-self: center;
}

header h1 {
    color: var(--text-color);
    font-family: 'Clash Display', system-ui;
    font-weight: 600;
    font-size: 3rem;
    transition: all 0.5s ease;
}

main {
    display: grid;
    grid-template-areas:
        'classic neon'
        'toggle toggle';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    margin: 0 2rem;
}

main>* {
    /* border: 1px solid fuchsia; */
    border: 1px solid rgba(255, 255, 255, 0.255);
    border-radius: 1rem;
    border-style: dashed;
}

main section {
    user-select: none;
    place-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main section:nth-child(1) {
    grid-area: classic;
}

main section:nth-child(2) {
    grid-area: neon;
}

main section:nth-child(3) {
    grid-area: toggle;
    display: flex;
}

footer {
    p {
        a {
            color: var(--s7);
            text-decoration: none;
            transition: all 0.5s ease;
        }

        a:hover {
            color: var(--s5);
        }
    }
}

/* Dark Mode Toggle */
body:has(#mode:checked) {
    background-color: var(--text-color);
    color: var(--bg-color);

    h1 {
        color: var(--s10);
    }

    main>* {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-style: dashed;
    }
}